#nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgb(247, 243, 236);
}
img{
    float: left;
    width: 70px;
    height: 70px;
    padding-left: 24px;
    border-radius: 20px;
    /* background-color: wheat; */
}
#pages{
    float: right;
    padding: 12px;
    font-size: 24px;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
#Home{
    padding-top: 10px;
    padding: 10px;
}
#Home:hover::after, #Sell:hover::after{
    content: "Frist Login to access";
    transform: translateX(-200px);
    transform: translateY(25px);
    position: absolute;
    padding: 15px;
    background-color: black;
    color: white;
}
#Home:hover, #Sell:hover, a:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    cursor: pointer;
}
#Sell{
    padding-top: 10px;
    padding: 10px;
}
body{
    margin: 0;
    padding: 0;
    display: absolute;
}