<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'FristNav.css' %}">
</head>
<body>
    <div id="nav">
        <div id="logo">
            <img src="{% static 'Logo.png' %}" alt="Img not found">
        </div>
        <div id="pages">
            <div id="Home">Home</div>
            <div id="Sell">Sell</div>
            <!-- <a href="{% url 'Contact' %}">Help/Contact</a>
            <a href="{% url 'About' %}">About Me</a> -->
            <a href="{% url 'Login' %}">Login</a>
            <a href="{% url 'Register' %}">Register</a>
        </div>
    </div>
</body>
</html>