<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LoginPage.css' %}">
</head>
<body>
    {% include 'FristNav.html' %}
    <div class="wrapper">
        <form action="" method="post" onsubmit="return validation()" class="form-box">
            {% csrf_token %}
            <h1>Please Login</h1>

            <input type="text" id="name" name="name" placeholder="Full Name">
            <input type="email" id="gmail" name="gmail" placeholder="Gmail">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <div id="a"><a href="{% url 'Register' %}">Register</a></div>
        </form>
    </div>
    <script>
        function validation(){
            //Name Validation
            var name = document.getElementById("name").value;
            if(name == ""){
                alert("Full Name is required");
                return false;
            }

            //Email Validation
            var email = document.getElementById("email").value;
            var slice1 = email.slice(-10);
            if(email == ""){
                alert("Email is required");
                return false;
            }else if(slice1 != "@gmail.com"){
                alert("Email must be a Gmail address");
            }

            //Password Validation
            var password = document.getElementById("password").value;
            if(password == ""){
                alert("Password is required");
                return false;
            }else if(password.length < 8){
                alert("Password must be at least 8 characters long");
            }
            return true;
        }
    </script>
</body>
</html>
